<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Status</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        table{
            margin-left: auto;
            margin-right: auto;
            }
        tr:hover {background-color: #f5f5f5;}
    </style>
</head>
<body>
<hr>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

      <ul class="nav navbar-nav">

        <li><a href="/execpage">Home</a></li>
        <li class="dropbtn"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Customer Management <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/execpage/create-customer">Create Customer</a></li>
            <li><a href="/execpage/delete-customer">Delete Customer</a></li>
            <li><a href="/execpage/update-customer">Update Customer Details</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Account Management <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Search Customer</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Status Details <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/execpage/customer-status">View Customer Status</a></li>
            <li><a href="#">View Account Status</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Account Operations <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Create Account</a></li>
            <li><a href="#">Delete Account</a></li>
          </ul>
        </li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
<hr>

<h2>The following record has been deleted</h2>
<hr>
<table class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th>Customer ID</th>
            <th>Customer SSN ID</th>
            <th>Status</th>
            <th>Message</th>
            <th>Last Updated</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ result.customerid }}</td>
            <td>{{ result.customerssn }}</td>
            <td>{{ result.customerstatus }}</td>
            <td>{{ result.customermsg }}</td>
            <td>{{ result.customerupd }}</td>
            <td>{{ result.customername }}</td>
        </tr>
    </tbody>
</table>


</body>
</html>