<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Executive</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
</head>
<body>
<p>You are in the System, Executive</p>
<hr>
<div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item pure-menu-selected">
            <a href="#" class="pure-menu-link">Home</a>
        </li>
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="#" id="menuLink1" class="pure-menu-link">Customer Operations</a>
            <ul class="pure-menu-children">
                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link">New Customer</a>
                </li>
                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link">Update Customer</a>
                </li>
                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link">Delete Customer</a>
                </li>
            </ul>
        </li>
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="#" id="menuLink1" class="pure-menu-link">Account Operations</a>
            <ul class="pure-menu-children">
                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link">New Account</a>
                </li>
                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link">Update Account</a>
                </li>
                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link">Delete Account</a>
                </li>
            </ul>
        </li>
        <li class="pure-menu-item pure-menu-selected">
            <a href="/" class="pure-menu-link">Logout</a>
        </li>

    </ul>
</div>

</body>
</html>