<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<p>You are in the Customer Executive</p>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      
      <ul class="nav navbar-nav">
      
        <li><a href="#">Home</a></li>
        <li class="dropbtn"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Customer Management <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Create Customer</a></li>
            <li><a href="#">Delete Customer</a></li>
            <li><a href="#">Update Customer Details</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Account Management <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Search Customer</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Status Details <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">View Customer Status</a></li>
            <li><a href="#">View Account Status</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Account Operations <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Create Account</a></li>
            <li><a href="#">Delete Account</a></li>
          </ul>
        </li>
        <li><a href="#">Logout</a></li>
    </div>
  </nav>
    
  
  
  </body>
  </html>
