<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome Executive</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<h2>Hello {{ temp }}</h2>
<p>You are in the Cashier section</p>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      
      <ul class="nav navbar-nav">
      
        <li><a href="/cashierpage">Home</a></li>
        <li class="dropbtn"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Transactions <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/cashierpage/deposit">Deposit Money</a></li>
            <li><a href="/cashierpage/withdraw">Withdraw Money</a></li>
            <li><a href="/cashierpage/transfer">Transfer money</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Account Details <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/cashierpage/searchaccount">Search Account</a></li>
            <li><a href="/cashierpage/viewstatement">View Account Statement</a></li>
          </ul>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
</nav>
  {% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}
  <form class="pure-form pure-form-aligned" method="POST">
    <fieldset>

        <div class="pure-control-group">
            <label for="aligned-name">Source Accound ID</label>
            <input type="text" id="aligned-name" name="sourceid" required=""/>
            <span class="pure-form-message-inline">This is a required field.</span>
        </div>

        <div class="pure-control-group">
            <label for="aligned-name">Target Account ID</label>
            <input type="text" id="aligned-name" name="targetid" required=""/>
            <span class="pure-form-message-inline">This is a required field.</span>
        </div>

        <div class="pure-control-group">
            <label for="aligned-name">Transfer Amount</label>
            <input type="text" id="aligned-name" name="transfer_amount" required=""/>
            <span class="pure-form-message-inline">This is a required field.</span>
        </div>

        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Transfer</button>
        </div>
    </fieldset>
</form>  
  
  </body>
  </html>