<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Updated</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<hr>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

      <ul class="nav navbar-nav">

        <li><a href="/execpage">Home</a></li>
        <li class="dropbtn"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Customer Management <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/execpage/create-customer">Create Customer</a></li>
            <li><a href="/execpage/delete-customer">Delete Customer</a></li>
            <li><a href="/execpage/update-customer">Update Customer Details</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Account Management <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/execpage/search-customer">Search Customer</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Status Details <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/execpage/customer-status">View Customer Status</a></li>
            <li><a href="/execpage/account-status">View Account Status</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Account Operations <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/execpage/create-account">Create Account</a></li>
            <li><a href="/execpage/delete-account">Delete Account</a></li>
          </ul>
        </li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
<hr>
<h3 style="text-align:center">Customer details updated successfully!</h3>
<form class="pure-form pure-form-aligned" align="center" method="POST" >
    <fieldset>
        <div class="pure-control-group">
            <label for="aligned-name">Customer SSN ID</label>
            <input type="text" id="aligned-name" name="ssnid" value="{{ r.customerssn }}" readonly=""/>
        </div>

        <div class="pure-control-group">
            <label for="aligned-name">Customer ID</label>
            <input type="text" id="aligned-name" name="custid" value="{{ r.customerid }}" readonly=""/>
        </div>

        <div class="pure-control-group">
            <label for="aligned-name">Customer Name</label>
            <input type="text" id="aligned-name" name="custname" value="{{ r.customername }}" readonly=""/>
        </div>

        <div class="pure-control-group">
            <label for="aligned-name">Address</label>
            <input type="text" id="aligned-name" name="address" placeholder="{{ r.customeraddr }}" readonly=""/>
        </div>


        <div class="pure-control-group">
            <label for="aligned-name">Age</label>
            <input type="text" id="aligned-name" name="age" placeholder="{{ r.customerage }}" readonly=""/>
        </div>

    </fieldset>
</form>

</body>
</html>