<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create customer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
{#<h1>I'm here to update customer</h1>#}
{#<div>#}
{#    {% if message %}#}
{#        <p>{{ message }}</p>#}
{#    {% endif %}#}
{#</div>#}
<hr>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

      <ul class="nav navbar-nav">

        <li><a href="/execpage">Home</a></li>
        <li class="dropbtn"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Customer Management <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/execpage/create-customer">Create Customer</a></li>
            <li><a href="/execpage/delete-customer">Delete Customer</a></li>
            <li><a href="/execpage/update-customer">Update Customer Details</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Account Management <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Search Customer</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Status Details <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/execpage/customer-status">View Customer Status</a></li>
            <li><a href="#">View Account Status</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Account Operations <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/execpage/create-account">Create Account</a></li>
            <li><a href="#">Delete Account</a></li>
          </ul>
        </li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
<hr>
<h3>Update customer details</h3>

<form class="pure-form pure-form-aligned" method="POST">
    <fieldset>
        <div class="pure-control-group">
            <label for="aligned-name">Customer SSN ID</label>
            <input type="text" id="aligned-name" name="ssnid" value="{{ record.customerssn }}" readonly=""/>
        </div>

        <div class="pure-control-group">
            <label for="aligned-name">Customer ID</label>
            <input type="text" id="aligned-name" name="custid" value="{{ record.customerid }}" readonly=""/>
        </div>

        <div class="pure-control-group">
            <label for="aligned-name">Old Customer Name</label>
            <input type="text" id="aligned-name" name="custname" value="{{ record.customername }}" readonly=""/>
        </div>

        <div class="pure-control-group">
            <label for="aligned-name">New Customer Name</label>
            <input type="text" id="aligned-name" name="newcustname" placeholder="Name" required=""/>
            <span class="pure-form-message-inline">This is a required field.</span>
        </div>

        <div class="pure-control-group">
            <label for="aligned-name">Old Address</label>
            <input type="text" id="aligned-name" name="address" placeholder="{{ record.customeraddr }}" readonly=""/>
        </div>
        <div class="pure-control-group">
            <label for="aligned-name">New Address</label>
            <input type="text" id="aligned-name" name="newaddress" placeholder="Address" required=""/>
            <span class="pure-form-message-inline">This is a required field.</span>
        </div>

        <div class="pure-control-group">
            <label for="aligned-name">Old Age</label>
            <input type="text" id="aligned-name" name="age" placeholder="{{ record.customerage }}" readonly=""/>
        </div>
        <div class="pure-control-group">
            <label for="aligned-name">New Age</label>
            <input type="text" id="aligned-name" name="newage" placeholder="Age" required=""/>
            <span class="pure-form-message-inline">This is a required field.</span>
        </div>


        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Update</button>
        </div>
    </fieldset>
</form>


</body>
</html>